body {
    background-color:rgba(65, 45, 65, 0.768);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
.wrapper {
    margin: 0 auto;
    width: 100px;
    align-items: center;
    justify-content: center;
    display:grid;

}

li a{ 
  text-decoration: none;
  color: white;
}

li a:hover { 
  text-decoration: none;
  color: #80CED7;
}

  main {
    width: 400px;
    height: 100px;
    }

    .mainbox {
    height: auto;
    }

  p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px; /*20vw it resizes it self*/
    }

 div {
    padding: 10px;

 }

  .headerbox {
    padding: 30px;
    width: 300px;
    height: 100px;
    background-color: rgb(161, 154, 154);
    display: flex;
    align-items: center;
  }

  .img-size {
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
  }